*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: Arial;
    margin: 0px;
    color: white;
}

:root {
    --bg: #0c0b10;
    --tile-color: rgb(100, 100, 100);
    --accent: white;
}

html,
body {
    overflow-x: hidden;
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1300px;
    width: 100%;
    height: 100%;
    margin: 0px auto;
    background: var(--bg);
    padding: 1rem;
    /* overflow-y: hidden; */
}

.grid {
    width: 100%;
    height: 55vh;
    background: var(--bg);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: clamp(0.25rem, 0.5rem, 1rem);
    padding-bottom: 1rem;
}

.tile {
    position: relative;
    width: auto;
    height: auto;
    background: var(--tile-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    overflow: hidden;
    border: solid 1px rgba(255, 255, 255, 0.1);
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5);
}

.tile::before {
    content: '';
    position: absolute;
    width: 80px;
    height: 80px;
    top: 155%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--accent);
    opacity: 0.8;
    -webkit-filter: blur(10px) drop-shadow(0px 0px 10px var(--accent)) drop-shadow(0px 0px 20px var(--accent));
    ;
    filter: blur(10px) drop-shadow(0px 0px 10px var(--accent)) drop-shadow(0px 0px 20px var(--accent));
    border-radius: 50%;
    z-index: -1;
}

.keyboard-grid {
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.keyboard-grid-row-1,
.keyboard-grid-row-2,
.keyboard-grid-row-3 {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    margin: 0.1rem;
}

.keyboard-grid-row-1 {
    width: 100%;
}

.keyboard-grid-row-2 {
    width: 90%;
}

.keyboard-grid-row-3 {
    width: 80%;
}


.keyboard-tile {
    width: clamp(20px, 50px, 100px);
    height: clamp(30px, 50px, 100px);
    /* aspect-ratio: 1 / 1.5; */
    background: var(--tile-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    padding: 0px;
}

.submit-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15vh;
}

.submit-button {
    width: 80%;
    height: 4rem;
    margin: 1rem;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    text-transform: uppercase;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    overflow: hidden;
    border: solid 1px rgba(255, 255, 255, 0.1);
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5);
}

.game-over {
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 80vw;
    height: 80vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: gray;
    font-size: 2rem;
}

.on {
    visibility: visible;
}
